Repository hashpire/eureka-web3, pull requests merged in 2022-03, with the labels that each got.

#26 Internet & TCP/IP & IP Address & The Web
  00 - Notes/Draft-TCP-IP คืออะไร.md
  00 - Notes/Draft-ประวัติความเป็นมาของเว็บไซต์.md
  00 - Notes/Draft-อินเทอร์เน็ตคืออะไร.md
  00 - Notes/Draft-ไอพีแอสเดรสคืออะไร.md
  00 - Notes/IP Address คืออะไร.md
  00 - Notes/IPv4 คืออะไร.md
  00 - Notes/IPv6 คืออะไร.md
  00 - Notes/Internet คืออะไร.md
  00 - Notes/TCP-IP คืออะไร.md
  00 - Notes/ประวัติความเป็นมาของเว็บไซต์.md
Labels: Lang: Thai, Type: Basic Note

#27 What is Web 1.0
  00 - Notes/Draft-Web 1.0 คืออะไร.md
  00 - Notes/Web 1.0 คืออะไร.md
Labels: Lang: Thai, Type: Basic Note

#28 What is Web 2.0 & Problems of Web 2.0
  00 - Notes/Draft-Web 2.0 คืออะไร.md
  00 - Notes/Web 2.0 คืออะไร.md
  00 - Notes/กลยุทธ์การสร้างรายได้ที่ผิดจรรยาบรรณของเว็บ 2.0.md
  00 - Notes/การขาดสิทธิมนุษยชนขั้นพื้นฐานของเว็บ 2.0.md
  00 - Notes/การผูกขาดโดยบริษัทยักษ์ใหญ่ของเว็บ 2.0.md
  00 - Notes/ความเป็นส่วนตัวและอำนาจในการควบคุมข้อมูลส่วนตัวของผู้ใช้งานเองของเว็บ 2.0.md
  00 - Notes/ปัญหาของเว็บ 2.0.md
  00 - Notes/ปัญหาด้านความน่าเชื่อถือของเว็บ 2.0.md
  00 - Notes/ปัญหาด้านความปลอดภัยของเว็บ 2.0.md
Labels: Lang: Thai, Type: Basic Note

#32 What is Lan
  00 - Notes/Draft-Lan คืออะไร.md
  00 - Notes/Lan คืออะไร.md
Labels: Lang: Thai, Type: Basic Note

#41 What is Centralized & Decentralized Network & Double Spending
  00 - Notes/Centralized Network คืออะไร.md
  00 - Notes/Decentralized Network คืออะไร.md
  00 - Notes/Double Spending คืออะไร.md
  00 - Notes/Draft-Centralized Network คืออะไร.md
  00 - Notes/Draft-Decentralized Network  คืออะไร.md
Labels: Lang: Thai, Type: Basic Note

#49 3 การเคลื่อนไหวที่ทำให้ Bitcoin เกิดขึ้น
  00 - Notes/การเคลื่อนไหวของกลุ่ม Cypherpunk.md
  00 - Notes/การเคลื่อนไหวของกลุ่มสนับสนุน Open Source.md
  00 - Notes/การเคลื่อนไหวของกลุ่มสนับสนุน Peer to Peer (P2P).md
  00 - Notes/การเคลื่อนไหวที่ทำให้ Bitcoin เกิดขึ้น.md
Labels: Lang: Thai, Type: Basic Note

#51 What is Consensus
  00 - Notes/Consensus คืออะไร.md
Labels: Lang: Thai, Type: Basic Note

#55 What is Web 3.0
  00 - Notes/เว็บ 3.0 คืออะไร.md
Labels: Lang: Thai, Type: Basic Note

#16 Internet #2
  00 - Notes/อินเทอร์เน็ต, ISP.md
Labels: Lang: Thai, Type: Social Post

#20 Internet #3
  00 - Notes/5G คืออะไร.md
  00 - Notes/ประเภทและความเร็วของอินเทอร์เน็ต.md
Labels: Lang: Thai, Type: Social Post

#22 Internet #4
  00 - Notes/Latency คืออะไร.md
Labels: Lang: Thai, Type: Social Post

#24 Internet #5
  00 - Notes/Internet Disruption คืออะไร.md
Labels: Lang: Thai, Type: Social Post

#94 Social post Internet 1.1
  00 - Notes/Attachments/post1-Internet-01.png
  00 - Notes/Attachments/post1-Internet-02.png
  00 - Notes/Attachments/post1-Internet-03.png
  00 - Notes/Attachments/post1-Internet-04.png
  00 - Notes/Attachments/post1-Internet-05.png
  00 - Notes/คอมพิวเตอร์เครื่องแรกของโลกและระบบเครือข่ายขนาดเล็ก.md
Labels: Lang: Thai, Type: Social Post

#60 What is Knowledge Management
  00 - Notes/การจัดการความรู้ (Knowledge Management).md
  00 - Notes/ภาวะข้อมูลท่วมท้น (Infobesity).md
  00 - Notes/สมองที่สอง (A Second Brain).md
Labels: Lang: Thai, Type: Basic Note

#67 add chainlink meetup hd wallet note
  00 - Notes/Chainlink Bangkok Meetup - HD Wallet.md
Labels: Lang: Thai

#89 Decentralized Web Notes
  00 - Notes/Centralized Network คืออะไร.md
  00 - Notes/Consensus คืออะไร.md
  00 - Notes/Decentralized Network คืออะไร.md
  00 - Notes/Double Spending คืออะไร.md
  00 - Notes/IP Address คืออะไร.md
  00 - Notes/IPv4 คืออะไร.md
  00 - Notes/IPv6 คืออะไร.md
  00 - Notes/Internet คืออะไร.md
  00 - Notes/Lan คืออะไร.md
  00 - Notes/TCP-IP คืออะไร.md
  00 - Notes/Web 1.0 คืออะไร.md
  00 - Notes/Web 2.0 คืออะไร.md
  00 - Notes/Web 3.0 คืออะไร.md
  00 - Notes/กลยุทธ์การสร้างรายได้ที่ผิดจรรยาบรรณของเว็บ 2.0.md
  00 - Notes/การขาดสิทธิมนุษยชนขั้นพื้นฐานของเว็บ 2.0.md
  00 - Notes/การผูกขาดโดยบริษัทยักษ์ใหญ่ของเว็บ 2.0.md
  00 - Notes/การเคลื่อนไหวของกลุ่ม Cypherpunk.md
  00 - Notes/การเคลื่อนไหวของกลุ่มสนับสนุน Open Source.md
  00 - Notes/การเคลื่อนไหวของกลุ่มสนับสนุน Peer to Peer (P2P).md
  00 - Notes/การเคลื่อนไหวที่ทำให้ Bitcoin เกิดขึ้น.md
  00 - Notes/ความเป็นส่วนตัวและอำนาจในการควบคุมข้อมูลส่วนตัวของผู้ใช้งานเองของเว็บ 2.0.md
  00 - Notes/ประวัติความเป็นมาของเว็บไซต์.md
  00 - Notes/ปัญหาของเว็บ 2.0.md
  00 - Notes/ปัญหาด้านความน่าเชื่อถือของเว็บ 2.0.md
  00 - Notes/ปัญหาด้านความปลอดภัยของเว็บ 2.0.md
Labels: Lang: Thai, Type: Basic Note
